html {
  font-family: Arial, Helvetica, sans-serif;
}
html body {
  background-image: url(./images/background.jpg);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body div.main {
  width: 50%;
  height: 70%;
  background-color: rgb(66, 65, 65);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  min-width: 550px;
  min-height: 730px;
  row-gap: 10px;
}
html body div.main div.main-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  border-bottom: 1px solid black;
  row-gap: 10px;
  padding: 30px;
}
html body div.main div.main-search h1 {
  color: black;
  font-size: 50px;
  letter-spacing: 3px;
}
html body div.main div.main-search input {
  width: 80%;
  outline: none;
  border: none;
  height: 20%;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgb(66, 65, 65);
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
html body div.main div.main-search input:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
html body div.main div.main-search button {
  height: 20%;
  min-width: 20%;
  outline: none;
  border: none;
  border: 1px solid black;
  background-color: rgb(66, 65, 65);
  border-radius: 30px;
  color: black;
  font-size: 30px;
  border-bottom-width: 100%;
}
html body div.main div.main-search button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
html body div.main div.main-search button:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
html body div.main div.main-movies {
  display: flex;
  flex-direction: column;
  height: 60%;
  /*row-gap: 30px;*/
}
html body div.main div.main-movies div.main-movies-listMovies {
  height: 80%;
  display: flex;
  column-gap: 10px;
  justify-content: flex-start;
}
html body div.main div.main-movies div.main-movies-listMovies div.main-movies-listMovies-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(48, 45, 45);
  color: white;
  row-gap: 10px;
  height: 80%;
  width: 30%;
}
html body div.main div.main-movies div.main-movies-listMovies div.main-movies-listMovies-movie:hover {
  box-shadow: rgba(235, 233, 233, 0.829) 0px 0px 7px;
}
html body div.main div.main-movies div.main-movies-listMovies div.main-movies-listMovies-movie:active {
  box-shadow: rgba(235, 233, 233, 0.829) 0px 0px 15px;
}
html body div.main div.main-movies div.main-movies-listMovies div.main-movies-listMovies-movie div {
  justify-self: flex-end;
  overflow: hidden;
}
html body div.main div.main-movies div.main-movies-listMovies div.main-movies-listMovies-movie img {
  width: 90%;
  height: 80%;
}
html body div.main div.main-movies div.main-movies-pagination {
  display: none;
  align-self: center;
  justify-self: flex-end;
  width: 30%;
  /* height: 10%;*/
  border: 1px solid black;
  /*margin-bottom: 50px;*/
}
html body div.main div.main-movies div.main-movies-pagination button {
  flex-grow: 1;
  outline: none;
  border: none;
  background-color: rgb(66, 65, 65);
  border: 1px solid black;
  color: black;
  height: 100%;
  font-size: 21px;
}
html body div.main div.main-movies div.main-movies-pagination button:active {
  background-color: rgb(75, 74, 74);
}
html body div.main div.main-movies div.main-movies-pagination button#active {
  border: 1px solid white;
  color: white;
}
html body div.main div.main-info {
  display: none;
  height: 60%;
  column-gap: 10px;
  row-gap: 10px;
  color: white;
}
html body div.main div.main-info img {
  height: 70%;
  width: 40%;
}
html body div.main div.main-info div {
  overflow: hidden;
  width: 100%;
}
html body div.main div.main-info div h2 {
  text-align: center;
}
html body div.main div.main-info div div.main-info-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 10% 10%;
  font-size: 17px;
}
html body div.main div.main-info div div.main-info-grid div:nth-child(2) {
  overflow-y: scroll;
}
html body div.main div.main-info button {
  height: 50%;
  min-width: 10%;
  outline: none;
  border: none;
  border: 1px solid black;
  background-color: rgb(66, 65, 65);
  border-radius: 30px;
  color: black;
  border-bottom-width: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
html body div.main div.main-info button span {
  display: block;
  font-size: 30px;
}
html body div.main div.main-info button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
html body div.main div.main-info button:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*# sourceMappingURL=style.css.map */
